* {
  border: none;
  min-height: 0;
}

window > box {
    background-color: #1e1e2e;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
}

window#waybar {
    background-color: transparent;
}

#waybar {
  background: #1e222a;
  color: #eeeeef;
  font-size: 14px;
  font-family: "Hack Nerd Font";
}

#workspaces button {
  padding: 0 5px;
  color: #eeeeef;
}
/* Fix: active workspace doesn't show up */
/* #workspaces button.focused { */
#workspaces button.active {
	color: #6699ff;
}

#battery,
#tray,
#custom-powermenu,
#cpu,
#temperature,
#memory,
#workspaces,
#clock,
#window,
#pulseaudio,
#custom-updates,
#language,
#network {
  padding: 4px 10px;
  background-color: #303643;
  border-radius: 10px;
  margin: 6px 4px;
}

#battery{
	color: #00ff99;
}

#window {
  color: #929db1;
}

#tray {
  margin-left: 4px;
}

#custom-updates {
  color: #1788e4;
}

#custom-powermenu {
  color: #e06c75;
  padding-right: 11px;
  margin-right: 8px;
}

#scratchpad {
  color: #cffafe;
  padding-right: 4px;
  padding-left: 4px;
}

#pulseaudio {
  color: #0fb9b1;
  padding-right: 14px;
}

#cpu {
  color: #61afef;
}

#language {
  color: #61afef;
}

#temperature {
  color: #98c379;
}

#memory {
  color: #e5c07b;
}

#network {
  color: #c678dd;
}

#clock {
  color: #fff;
  margin-left: 8px;
}
